
/* Encabezado */

header {
    background-color: #333;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: auto;
    width: 100%;
    z-index:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos generales */

body {
    font-family: Verdana, /* Tahoma,*/ sans-serif;
    text-align: center;
    background-color: #333;
/*    background-color:blanchedalmond ;
/*    background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 18px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a::backdrop {
    color: #ffcc00; /* Efecto hover para los enlaces del menú */
}

/* Secciones */

section {
    padding: 40px 20px;
    background-color: azure;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border-radius: 50px 40px 20px 80px; 
}
.section1 {
    padding: 40px 20px;
    background-color: azure;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border-radius: 50px 80px 20px 60px; 
}
h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Enlaces */

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #001aff;
    text-decoration: underline; 
}

/* Separadores */
hr {
    border:none;
    border-top: 1px solid #ddd;
    margin: 40px 15q;
}

/* Estilos para pantallas */

.column {
    width: 100%;
}
/* ESTILO PARA PANTALLA DE CELULAR */
@media (max-width: 768px) {
    .column {
        width: 100%;
        }
        .section1 {
            padding: 20px 10px;
            margin: 10px auto;
            width: 90%;
            max-width: 500px;
            box-shadow: 0 2px 4px rgba(0, 0,0, 0.05);
            border-radius: 20px 40px 20px 40px;
            }
        .section2 {
            padding: 20px 10px;
            margin: 10px auto;
            width: 90%;
            max-width: 500px;
            box-shadow: 0 2px 4px rgba(0, 0,00.05);
            border-radius: 20px 40px 20px 40px;
            }}


@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        width: 95%;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
        padding: 20px;
    }
}


   /* Animación de aparición */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* BOTÓN BACK TO TOP */
.back-to-top {
    display:flexbox;
    position:fixed;
    bottom: 80px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
}

.back-to-top:hover {
    background-color:#333;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}

#weather {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Boton(es) */

/*

butt1 {
    background-color: #001aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px 6px 9px 12px;
    cursor: pointer;
}
butt1:hover {
    background-color: #001aff;  
    color: white;
    }
*/
